<header
  class="d-flex justify-content-between align-items-center ps-md-5 pe-md-5 py-2 bg-body-tertiary shadow-lg"
>
  <h1 id="tabHeader" class="m-0">Users Dashboard</h1>

  <!-- Search Input -->
  <div class="position-relative w-50">
    <label for="Search">Find User By ID :</label>
    <input
      id="Search"
      type="search"
      class="form-control w-100 mx-auto mb-1"
      [(ngModel)]="searchTerm"
    />

    <div
      class="result position-absolute start-0 end-0 text-center z-1 bg-white"
      *ngIf="searchTerm"
    >
      <div
        *ngFor="let searchResult of allUsersList | search : searchTerm"
        [routerLink]="['/details', searchResult.id]"
        class="d-flex my-1 border p-1 pointer"
      >
        <img
          [src]="searchResult.avatar"
          [alt]="searchResult.first_name"
          width="50"
          height="50"
        />
        <div
          class="d-flex flex-column justify-content-center align-items-start ps-2 w-100 hoverEffect"
        >
          <span>ID: {{ searchResult.id }}</span>
          <span
            >{{ searchResult.first_name }} {{ searchResult.last_name }}
          </span>
        </div>
      </div>
    </div>
  </div>
</header>
