<div class="container bg-danger">

    <a class="effect effectX" [routerLink]="['/home']">HOME</a>

    <div class="row">
        <div class="col-md-4">
            <img [src]="usersData.avatar" [alt]="usersData.first_name" class="w-50">
        </div>

        <div class="col-md-8">
            <p>User ID : {{usersData.id}}</p>
            <p>First Name : {{usersData.first_name}}</p>
            <p>Last Name : {{usersData.last_name}}</p>
            <p>E-Mail : {{usersData.email}}</p>
        </div>
    </div>
</div>