<div class="container">
  <div class="text-center text-white">
    <h2>Single User Details</h2>
  </div>
  <div class="row bg-body-tertiary p-5 rounded-4 justify-content-center">
    <div class="col-md-4 p-0 text-center">
      <img [src]="usersData.avatar" [alt]="usersData.first_name" class="w-75" />
    </div>

    <div class="col-md-8 p-0 d-flex flex-column justify-content-around">
      <p class="fs-3">User ID : {{ usersData.id }}</p>
      <h3 class="fs-3">First Name : {{ usersData.first_name }}</h3>
      <h3 class="fs-3">Last Name : {{ usersData.last_name }}</h3>
      <h4 class="fs-3">E-Mail : {{ usersData.email }}</h4>
      <a class="effect effectX w-50 bg-danger" [routerLink]="['/home']">HOME</a>
    </div>
  </div>
</div>
